.product-modal{
  width: 300px;
  margin: auto;
  background: linear-gradient(45deg, #102eff, #d2379b);
  margin-top: 5%;
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
  align-items: center;
  &__name{
    color: white;
    text-align: center;
    font-weight: bold;
  }
  &__btn-wrapper{
    display: flex;
    justify-content: center;
  }
  &__btn{
    font-weight: bold;
    color: white;

  }

}